<html><head>
    <title>admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="http://ipublic.u.qiniudn.com/iyueyao/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://ipublic.u.qiniudn.com/iyueyao/css/font-awesome.css"  />
    <link rel="stylesheet" href="http://ipublic.u.qiniudn.com/iyueyao/css/style.css">
    <link rel="stylesheet" href="http://ipublic.u.qiniudn.com/iyueyao/js/markdown/Markdown.Editor.css">
    <script src="http://ipublic.u.qiniudn.com/iyueyao/js/jquery.js"></script>
    <script src="http://ipublic.u.qiniudn.com/iyueyao/js/bootstrap.min.js"></script>
    <!-- markdown editor -->
    <script src="http://ipublic.u.qiniudn.com/iyueyao/js/markdown/Markdown.Converter.js"></script>
    <script src="http://ipublic.u.qiniudn.com/iyueyao/js/markdown/Markdown.extra.js"></script>
    <script src="http://ipublic.u.qiniudn.com/iyueyao/js/markdown/Markdown.Sanitizer.js"></script>
    <script src="http://ipublic.u.qiniudn.com/iyueyao/js/markdown/Markdown.Editor.js"></script>
    <script src="http://ipublic.u.qiniudn.com/iyueyao/js/ajaxfileupload.js"></script>
    <script src="http://ipublic.u.qiniudn.com/iyueyao/js/bootstrap-modal.js"></script>
    <script src="http://ipublic.u.qiniudn.com/iyueyao/js/tab.js"></script>
    <script src="http://ipublic.u.qiniudn.com/iyueyao/js/jqBootstrapValidation.js"></script>
    <style>
        .btn{background: #fff;}
        .btn.btn-success{background-color: #47a447;}
        .checkbox input[type="checkbox"]{
            margin-left:0px;
        }
    </style>

</head>
<body>
<header class="navbar navbar-fixed-top index-header" role="banner">
    <div class="container">
        <nav class="navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">YueYao</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/topic">topic</a></li>
                    <li><a href="/blog">blog</a></li>
                    <li class="active"><a href="/admin">admin</a></li>
                </ul>

            </div>
        </nav>
    </div>
</header>

<div class="container index-section">
    <div class="row">
        <div class="col-md-10">
            <div class="admin-main">
                <h1>admin</h1>
            </div>
            <div id="admin-tab" class="tab-content">
                <!-- 编辑器 -->
                <div class="tab-pane fade" id="article">
                    <form role="form" id="form">
                        <div class="form-group">
                            <label for="blog-title"><h3>文章写作 （新文章）</h3></label>
                            <input type="text" name="title" class="form-control" id="blog-title" placeholder="标题">
                        </div>
                        <div class="form-group">
                            <div id="admin-markdowneditor">
                                <div id="seeeditor" class="tab-pane">
                                    <div class="tab-content">
                                        <div id="markdowneditor" class="tab-pane active">
                                            <div id="wmd-editor-parent" class="control-group">
                                                <div id="wmd-editor-con" class="wmd-panel">
                                                    <div class="padding">
                                                        <div id="wmd-bar-parent">
                                                            <div id="wmd-button-bar">
                                                                <div id="wmd-button-row" class="btn-toolbar">
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <textarea id="wmd-input" name="post" placeholder="文章内容，markdown语法。如果没有写完，可以直接关闭页面，下次打开内容仍然会在。" class="expand wmd-input"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <script type="text/plain" id="myEditor"></script>
                                        </div>
                                    </div>
                                    <div id="wmd-preview-parent" class="control-group"><div id="wmd-preview-con" class="wmd-panel wmd-preview"><div class="padding"><div id="wmd-preview"></div></div></div></div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                           <div class="row">
                               <div class="checkbox col-md-6 ">

                                       首页推荐<input type="checkbox" name="homeRecom">
                                       <input type="hidden" name='type' value="blog"/>

                               </div>
                               <div class="col-md-6">
                                   <input type="text" name="tags" class="form-control" id="" placeholder="标签"/>
                               </div>
                           </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-success ">发 布</button>
                            </div>
                        </div>
                    </form>
                    <!-- 图片上传 -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">上传图片</h4>
                                </div>
                                <div class="modal-body">
                                    <input type="file" name="pic" id="file">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="button" class="btn btn-primary">确定</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- jsfiddle.net -->
                    <div class="modal hide fade in" style="display: block;"><div class="modal-header"><a class="close" data-dismiss="modal">×</a> <h3>嵌入演示代码</h3></div><div class="modal-body"><p style="padding: 5px;">填写在 <a href="http://jsfiddle.net/" target="_blank">http://jsfiddle.net/</a> 获取的嵌入链接(embed)</p><form style="padding: 0px; margin: 0px;"><input type="text" style="display: block; width: 80%; margin-right: auto; margin-left: auto;"></form></div><div class="modal-footer"><button class="btn btn-primary" type="button">OK</button><button class="btn btn-primary" type="button">Cancel</button></div></div>
                    </div>
                <div class="tab-pane fade" id="topic">
                   <h3>新建专题</h3>
                    <form role="form" id="topic-form">
                        <div class="form-group">
                            <div class="text-center">
                                <img src="" alt="" class="img-thumbnail img-responsive hide" id="topic-showimg">
                            </div>
                            <div id="upload-img">
                                <input type="file" name="pic" class="btn" id="topic-file">
                            </div>
                            <input type="hidden" name="img" id="topic-img" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">标题</label>
                            <input type="text" class="form-control" name="title" id="exampleInputPassword1" placeholder="标题">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="desc" rows="3" placeholder="描述"></textarea>
                        </div>                        <div class="form-group">
                            <textarea class="form-control" name="post" rows="3" placeholder="内容"></textarea>
                        </div>
                        <div class="form-group"><input type="checkbox" name="homeRecom"> 首页推荐</div>
                        <button type="submit" class="btn btn-success">发布</button>
                        <input type="hidden" name="type" value="topic"/>
                    </form>
                </div>
                <div class="tab-pane fade" id="Manage">
                    <h3>管理</h3>
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover">
                            <thead>
                            <tr>
                                <th>Index</th>
                                <th>Type</th>
                                <th>Title</th>
                                <th>last modify</th>
                                <th>pv</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% posts.forEach(function (post, index) { %>
                            <tr>
                                <td><%- index %></td>
                                <td><%- post.type %></td>
                                <td><a href="/<%= post.type %>/<%= post.uuid %>"><%= post.title %></a></td>
                                <td><%- post.time.minute %></td>
                                <td>pv</td>
                                <td><a href="/admin/edit/<%= post.type %>/<%= post.uuid %>">Edit</a> &nbsp;&nbsp;
                                    <a href="/admin/remove/<%= post.type %>/<%= post.uuid %>">Delete</a></td>
                            </tr>

                            <% }) %>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="tab-pane fade active in" id="settings">
                    <h3>系统设定</h3>

                </div>
            </div>

        </div>
        <div class="col-md-2" >
            <ul class="nav nav-pills nav-stacked text-center">
                <li><a href="#article" data-toggle="tab">New Article</a></li>
                <li><a href="#topic" data-toggle="tab">New Topic</a></li>
                <li><a href="#Manage" data-toggle="tab">Article Manage</a></li>
                <li class="active"><a href="#settings" data-toggle="tab">Settings</a></li>
            </ul>
        </div>
    </div>
<script>
    /* editor */
    var converter1 =new  Markdown.Converter();
    Markdown.Extra.init(converter1);
    var editor1 = new Markdown.Editor(converter1);
    editor1.run();
    /*
     form
     * */

    $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    $("#form").submit(function(e){
        e.preventDefault();
        var re = $("#form").serialize();
        $.ajax({
            dataType:'json',
            data:re,
            url:'/post',
            type:"post",
            success:function(result){
               if(result.status){
                  alert(result.msg);
                  localStorage.setItem("textarea_article_add",'');
                  localStorage.setItem("textarea_article_add_title",'');
               }
            },
            error:function(result){
                alert('发布失败！')
            }
        });
    });
    /*
     * article save
     * */

    $("#wmd-input").val(localStorage.getItem("textarea_article_add")) ;
    $("#wmd-input").keyup(function(){
        localStorage.setItem("textarea_article_add",this.value)
    }) ;
    $("#blog-title").val(localStorage.getItem("textarea_article_add_title")) ;
    $("#blog-title").keyup(function(){
        localStorage.setItem("textarea_article_add_title",this.value) ;
    });

    //images upload
    editor1.hooks.set('insertImageDialog', function(callback) {
        $('#myModal').modal({
            keyboard: false ,
            show:true
        }) ;
        $("#file")[0].onchange=function(){
            $.ajaxFileUpload({
                url:"/upload",
                secureuri:false,
                fileElementId:'file',
                dataType: 'json',
                success: function (data, status)
                {
                    if(data.status){
                        alert(data.msg);
                        $("#myModal").modal("hide");
                        callback(data.img)
                    }
/*                    if(data.success){
                        callback(data.data.filename)

                    }else{
                       // messageTip.show(data.info)
                       console.log(data.info)
                    }*/
                    //loadingTip.hide()
                },
                error:function(err){

                    alert('失败');
                }
            })
        };
        return true; // tell the editor that we'll take care of getting the image url
    });
    // topic imgpuload

    $("#topic-file")[0].onchange=function(){
        $.ajaxFileUpload({
            url:"/upload",
            secureuri:false,
            fileElementId:'topic-file',
            dataType: 'json',
            success: function (data, status)
            {
                if(data.status){
                    upSucc(data.img);
                }
            },
            error:function(err){

                alert('失败');
            }
        })

        function upSucc(imgUrl){
            $('#topic-img').val(imgUrl);
            $('#topic-showimg').prop({'src':imgUrl}).removeClass('hide');
            $('#upload-img').empty();
        }
    };

    //topic submit
    $("#topic-form").submit(function(e){
        e.preventDefault();
        var re = $("#topic-form").serialize();
        $.ajax({
            dataType:'json',
            data:re,
            url:'/post',
            type:"post",
            success:function(result){
                if(result.status){
                    alert(result.msg);
                }
            },
            error:function(result){
                alert('发布失败！')
            }
        });
    });
</script>

    <%- include footer %>