<%- include header %>
<style>
    .jumbotron{
    /*background-image:url(<%= posts.img %>);*/
        background: #fff;
        font-size: 14px;
    }

</style>


  <div class="container index-section">

      <div class="jumbotron">
          <div class="row">
              <div class="col-md-5">
                  <section class="topic-index">
                     <h2 class="topic-title"><%= posts.title %></h2>
                     <p><%- posts.desc %></p>
                  </section>
              </div>
              <div class="col-md-7">
                  <section class="topic-content">
                      <%- posts.post %>
                  </section>
                  <a href="/<%= posts.type %>/<%= posts.uuid %>">查看详细>></a>
              </div>
          </div>


      </div>
      <script src="http://cdn.staticfile.org/jquery/2.0.3/jquery.js"></script>
      <script src="http://cdn.staticfile.org/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
      <script>
         $(".jumbotron").height($(window).height()-250);
      </script>
      <%- include footer_2 %>