
<%- include header %>
<div class="container index-section">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <% posts.forEach(function (post, index) { %>
        <div class="topic-list">
            <h2 class="topic-title"><a href="/<%= post.type %>/<%= post.uuid %>"><%= post.title %></a></h2>
            <p class="info">
                <small> <%= post.time.minute %></small>
            </p>
            <%- post.post %>
        </div>
        <% }) %>

        <%- include paging %>
        </div>
    </div>





    <script src="http://cdn.staticfile.org/jquery/2.0.3/jquery.js"></script>
    <script src="http://cdn.staticfile.org/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
<%- include footer %>